
<% if @workout.user == current_user %>
<h2><%=current_user.first_name %></h2>
<div class = "container">
  <div class = "row">
    <div id="root">
    </div>
    <div class= "col-sm-6">
<%= react_component 'InWorkout',{workout: @workout}%>
    </div>
  </div>
</div>
<% else %>
<div class = "container">
  <div class = "row">
    <div id="root">
    </div>
    <div class= "col-sm-6">
<%= react_component 'ViewInWorkout',{workout: @workout}%>
    </div>
  </div>
</div>
<% end %>
