

<div class="container-fluid">
  <div class="row">
    <% @users.each do |user| %>
    <% user_image = attachment_url(user, :profile_image, :fill, 50, 50, format: "jpg").to_s.size > 0 %>
    <div class="col-sm-6 col-md-4">
          <%= link_to user_path(id: user.id) do %>
      <div class="thumbnail">
          <%if user_image %>
            <%= (image_tag attachment_url(user, :profile_image, :fill, 300, 300, format: "jpg"), :class => "round-img")%>
          <%else %>
            <img src="http://flathash.com/<%="#{user.first_name}"%>" alt='straight-hash' class="round-img"/>
          <%end%>
          <div class="caption">
            <h3><%= link_to user.first_name, user %></h3>
            <p>power lifting</p>
            <p>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
