$translucent-bg-color: rgba(255,255,255,.7);


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'clndr';
@import 'navbar';

//General/Universal Styles
*, *:before, *:after{
  box-sizing: border-box;
}

body {
  background:#fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
/**** Testing navbar ***/

.round-img {
  border:solid 3px;
  border-radius: 50px;
}


.squarish-img {
  border:solid 1.5px;
  border-radius:2px;
}

// MY STYLES
.wrapper{padding-top:66px;

}
.nav-color {
  background-color: #7f8c8d;
}

.reps { margin-top:10px;}


.landing-hero {
  background: url("http://lorempixel.com/1200/900/sports/6/") 100% 100% no-repeat;
  background-size: cover;
  height:100vh;
  h1 {
    color:white;
    font-weight: 200;
  }
}

header .navbar {
  margin:0px;
}


.dashboard-view{

  padding-top:15px;

}
.profile-panel{
  > * {
    width: 60%;
    display: block;
    margin: auto;
  }

}

.follower-box{
  display:flex;
  text-align: center;
   > * {
     flex:1;
   }
}




.signup-form{

  .translucent-bg{
    padding-top:15px;
    padding-bottom:15px;
      background: $translucent-bg-color;

  }


}



.round-img {
  border:solid 3px;
  border-color:gray;
  border-radius: 50px;
}

.workout-button {

  background-color: #3E4771;
  margin-bottom: 15px;
  padding-right:25px;
}
.add-workout-button {
  color:#fff;
    font-size: 1.5em;
}



i {
  font-style: normal !important;
}

.workout-item-show th {
  font-size:15px;
  margin-right:15px;
  background-color: white;
  padding:10px;
  td {
    font-color:blue;
  }

}
.workout-form{
display:none;
}

.pillholder{
  border:2px;
  border-radius:50px;
}

@keyframes pulse {
	25% {
		transform: scale(1.1);
	}

	75% {
		transform: scale(.9);
	}
}

.pulse {
	display: inline-block;

	&:hover {
		animation-name: pulse;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

.workout-item {
  background-color: blue;
}


.workout-complete
.workoutname{
  color:red;
}

.workout-item-modal{
  width:80%;
  margin: 10px;
  padding:10px;
  border-radius:3px;
}

.notmonth { color:#ccc;}

.today {background-color: #D7F2FF;}
