$translucent-bg-color: rgba(000,000,000,.7);


@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'bootstrap-swatch';
@import 'clndr';
@import 'navbar';

//General/Universal Styles
*, *:before, *:after{
  box-sizing: border-box;
}

body {
  background:#ddd;
  color: #222;
  font-family: 'Open Sans', sans-serif;
}

.button-house{
    margin: 10px 0 0;
    text-align: center;
}

.round-img {
  border: solid 3px #fff;
  border-radius: 50%;
}


.squarish-img {
  border:solid 1.5px;
  border-radius:2px;
}

/**** Testing navbar ***/


// MY STYLES
.wrapper{padding-top:66px;

}
header.nav-color{
  background-image: none;
  background-color: white;
  color: #aa3321;
}

.Ufit a{

  color:#1abc9c;
}

nav a {

  color:#1abc9c;
}


.pretty-font {
  color:#1abc9c;
}
.pretty-font-darker {
  color: darken(#16a085, 0%);
}t

.reps { margin-top:10px;}


.landing-hero {
  background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR5T7S6Axbkd2k6Gd-Va5KCdWFR9FY6XaKP73p7Q6KvqpOnMAqI") 100% 100% no-repeat;
  background-size: cover;
  height:100vh;
  h1 {
    color:white;
    font-weight: 200;
  }
}

header .navbar {
  margin:0px;
}


.dashboard-view{

  padding-top:15px;

}
.profile-panel{
  > * {
    width: 60%;
    display: block;
    margin: auto;
  }

}

.view-profile {
  margin-top:10px;
  margin-bottom:10px;
}

.follower-box{
  display:flex;
  text-align: center;
   > * {
     flex:1;
   }
}


.new-workout,
.signup-form {

  .translucent-bg{
    padding: 15px;
      background: $translucent-bg-color;

  }

}

.workout-button {

  background-color: #3E4771;
  padding-right:25px;
}
.add-workout-button {
    font-size: 1.5em;
}



i {
  font-style: normal !important;
}

.workout-item-show th {
  font-size:15px;
  margin-right:15px;
  background-color: white;
  padding:10px;
  td {
    font-color:blue;
  }

}



.pillholder{
  width: 80%;
  margin: 0 auto;
  border:2px;
  border-radius:50px;
  padding-bottom: 10px;
  border: #333 6px solid;
  margin-bottom: 10px;

  >*{text-shadow: 1px 1px 4px #eee;}
}

@keyframes pulse {
	25% {
		transform: scale(1.1);
	}

	75% {
		transform: scale(.9);
	}
}

.pulse {
	display: inline-block;

	&:hover {
		animation-name: pulse;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

.workout-item {
  background-color: blue;
}

.workouts-list-show {

  display:flex;

  .workout-show{
    flex:1
  }
}

.workout-complete
.workoutname{
  color:red;
}

.workout-item-modal{
  margin: 10px;
  padding:10px;
  border-radius:3px;
}

.notmonth { color:#ccc;}

.today {background-color: #D7F2FF;}

.workout-form{
  background: #333;
  padding: 13px;
  border-radius: 5px;


}
